body {
  margin: 0;
  padding: 0;
}

.header {
  width: 100%;
  height: 80px;
  padding: 0 80px 0 83px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #232536;
  color: #FFFFFF;
  gap: 32px;
}
.header__links {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  gap: 24px;
}
.header__link--home {
  text-decoration: none;
  color: #FFFFFF;
}
.header__link--blog {
  text-decoration: none;
  color: #FFFFFF;
}
.header__link--about {
  text-decoration: none;
  color: #FFFFFF;
}
.header__link--contact {
  text-decoration: none;
  color: #FFFFFF;
}
.header__subcribe {
  padding: 16px 48px;
  border: 0;
  outline: 0;
  background-color: #FFD050;
  color: #FFFFFF;
}

.home {
  width: 100%;
  height: 720px;
  padding: 128px 80px 0 80px;
  box-sizing: border-box;
  background: radial-gradient(30.56% 76.04% at 74.58% 0%, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
}
.home__content {
  width: 804px;
  height: 400px;
}
.home__content--title {
  font-weight: 900;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}
.home__content--highlight {
  font-weight: 700;
  font-size: 56px;
  line-height: 64px;
  color: #FFFFFF;
  margin-top: 24px;
}
.home__content--date {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #F4F4F4;
  margin-top: 24px;
}
.home__content--detail {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #F4F4F4;
  margin-top: 16px;
}
.home__content--readMore {
  padding: 16px 48px 16px 48px;
  background-color: #FFD050;
  border: 0;
  outline: none;
  margin-top: 48px;
}

.post {
  width: 100%;
  height: 804px;
  margin-top: 130px;
  padding: 0px 78px 0 80px;
  box-sizing: border-box;
}
.post__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: wheat;
  gap: 322px;
}
.post__header--featurePost {
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  color: black;
}
.post__header--allPost {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  color: black;
}
.post__header--view {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: black;
}
.post__body {
  width: 100%;
  display: flex;
  gap: 32px;
}
.post__section {
  width: 733px;
  height: 724px;
  border: 1px solid #F4F4F4;
}
.post__section--wraper {
  width: 100%;
  height: 100%;
  padding: 32px;
  box-sizing: border-box;
}
.post__section--image {
  width: 669px;
  height: 352px;
}
.post__section--date {
  margin-top: 32px;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  color: black;
}
.post__section--highlight {
  margin-top: 16px;
  font-weight: 700;
  font-size: 28px;
  line-height: 40px;
  color: black;
}
.post__section--describe {
  margin-top: 16px;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #6D6E76;
}
.post__section--button {
  margin-top: 32px;
  padding: 16px 48px 16px 48px;
  background-color: #FFD050;
  border: 0;
  outline: none;
}
.post__sidbar {
  width: 517px;
  height: 724px;
}
.post__sidbar--content {
  width: 517pxpx;
  height: 181px;
  padding: 32px 116px 32px 32px;
  box-sizing: border-box;
}
.post__sidbar--date {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: black;
}
.post__sidbar--describe {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: black;
}

/*# sourceMappingURL=style.css.map */
